@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=League+Gothic&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "Sorts Mill Goudy", ui-sans-serif, system-ui;

  --color-dark-green: #536c68;
  --color-dark-gray: #1f1f1f;
  --color-teal: #226777;
  --color-light-yellow: #ffedcb;
  --color-light-green: #e7eee6;
  --color-dark-purple: #25274e;
}

/*
 * ASPECT RATIO VARIANTS (Tailwind v4)
 * Maps runtime viewport states to responsive design system modifiers.
 * * Maintenance: Every custom aspect ratio passed to initViewportContext() 
 * must be explicitly registered here for Tailwind to compile its utilities.
 *
 * Example: class="r16-9:block r1-1:grid"
 */
@custom-variant r1-1 (:root[data-ratio="1-1"] &);
@custom-variant r4-3 (:root[data-ratio="4-3"] &);
@custom-variant r3-4 (:root[data-ratio="3-4"] &);
/*
@custom-variant r3-2 (:root[data-ratio="3-2"] &);
@custom-variant r2-3 (:root[data-ratio="2-3"] &);
*/
@custom-variant r9-16 (:root[data-ratio="9-16"] &);
@custom-variant r16-9 (:root[data-ratio="16-9"] &);



.root{
  --area-scaler: 1;
}

.area-scale{
  scale: var(--area-scaler)
}


.anchor-nw { transform-origin: top left; }
.anchor-n  { transform-origin: top center; }
.anchor-ne { transform-origin: top right; }
.anchor-w  { transform-origin: left center; }
.anchor-c  { transform-origin: center center; }
.anchor-e  { transform-origin: right center; }
.anchor-sw { transform-origin: bottom left; }
.anchor-s  { transform-origin: bottom center; }
.anchor-se { transform-origin: bottom right; }


.dock-nw {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

.dock-n {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  transform-origin: top center;
}

.dock-ne {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
}

.dock-w {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  transform-origin: left center;
}

.dock-c {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center center;
}

.dock-e {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  transform-origin: right center;
}

.dock-sw {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
}

.dock-s {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  transform-origin: bottom center;
}

.dock-se {
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}
