@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=League+Gothic&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "Sorts Mill Goudy", ui-sans-serif, system-ui;

  --color-dark-green: #536c68;
  --color-dark-gray: #1f1f1f;
  --color-teal: #226777;
  --color-light-yellow: #ffedcb;
  --color-light-green: #e7eee6;
  --color-dark-purple: #25274e;
}